<%= render 'shared/page_title', title: "List of Chefs" %>

<div align="center">
  <%= will_paginate %>
  <% @chefs.each do |chef| %>
    <ul class="listing">
      <div class="row">
        <div class="well col-md-6 col-md-offset-3">
          <li><%= link_to gravatar_for(chef), chef_path(chef), size: 100 %></li>
          <li class="chef-title"><%= link_to chef.chefname, chef_path(chef) %></li>
          <li><small><%= pluralize(chef.recipes.count, "recipe") if chef.recipes %></small></li>
        </div>
      </div>
    </ul>
  <% end %>
  <%= will_paginate %>
</div>